.thesis-page {
  margin: 20px;
}

.thesis-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.thesis-description {
  font-size: 20px;
  margin-bottom: 50px
}

.thesis-author {
  font-size: 20px;
  margin-bottom: 10%
}

.myButton {
  background-color: #378CEE;
}

.btn-container {
  text-align: center;
}
