<div class="page-container">
  <form [formGroup]="thesisGroup">
    <div class="form-container">
      <div class="input-container">
        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput formControlName="author">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" [disabled]="thesisGroup.invalid" (click)="addThesis()">Save</button>
        <button mat-raised-button color="warn" routerLink="/..">Cancel</button>
      </div>
    </div>
  </form>
</div>
